/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Navbar styles */

#cvNavbarBrand {
  font-size: 25px;
}

#cvNavItems {
  font-size: 17px;
}
#cvNavBar {
  margin-bottom: '20px';
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .container {
  padding-top: 80px;
}

/* Home styles */

#cvPhoto {
  float: right;
}

section {
  margin-top: 40px;
  margin-bottom: 60px;
}

/* Experience styles */

.experienceLogo {
  width: 120px;
  height: 120px;
  box-shadow: 5px 5px #007bff;
  -webkit-transition: width 1s, height 1s; /* For Safari 3.1 to 6.0 */
  transition: width 1s, height 1s;
}

.experienceLogo:hover {
  width: 130px;
  height: 130px;
}

.educationLogo {
  width: 120px;
  height: 120px;
  box-shadow: 5px 5px #007bff;
  -webkit-transition: width 1s, height 1s; /* For Safari 3.1 to 6.0 */
  transition: width 1s, height 1s;
}

.educationLogo:hover {
  width: 130px;
  height: 130px;
}

.certificationLogo {
  width: 120px;
  height: 120px;
  box-shadow: 5px 5px #007bff;
  -webkit-transition: width 1s, height 1s; /* For Safari 3.1 to 6.0 */
  transition: width 1s, height 1s;
}

.certificationLogo:hover {
  width: 130px;
  height: 130px;
}

.cardShadow {
  box-shadow: 10px 10px #007bff;
}

/* Game styles */

.embed-container {
  position: relative;
  padding-bottom: 56%;
  height: 0;
  overflow: hidden;
}
.embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Styles for mobile devices */

@media (max-width: 800px) {
  .display-4 {
    font-size: 50px !important;
  }

  #cvPhoto {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .experienceLogo {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .experienceLogo:hover {
    width: 110px;
    height: 110px;
  }

  .educationLogo {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .educationLogo:hover {
    width: 110px;
    height: 110px;
  }

  .certificationLogo {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .certificationLogo:hover {
    width: 110px;
    height: 110px;
  }

  .embed-container {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden;
  }
}
