/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Navbar styles */

#cvNavbarBrand {
  font-size: 25px;
}

#cvNavItems {
  font-size: 17px;
}
#cvNavBar {
  margin-bottom: '20px';
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .container {
  padding-top: 80px;
}

/* Home styles */

#cvPhoto {
  width: 200px;
  height: 200px;
  float: right;
}

section {
  margin-bottom: 20px;
}

@media (max-width: 400px) {
  #cvPhoto {
    width: 200px;
    height: 200px;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .experienceLogo {
    width: 120px;
    height: 120px;
    box-shadow: 5px 5px #007bff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
  }

  .educationLogo {
    width: 120px;
    height: 120px;
    box-shadow: 5px 5px #007bff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
  }
}

/* Experience styles */

.experienceLogo {
  width: 120px;
  height: 120px;
  box-shadow: 5px 5px #007bff;
}

.educationLogo {
  width: 120px;
  height: 120px;
  box-shadow: 5px 5px #007bff;
}

.cardShadow {
  box-shadow: 10px 10px #007bff;
}
